/*
.seed {
  width: 2px;
  height: 2px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left:50%;
}
*/

/*
body {
  height: 1000px;
  animation: spin-right 20s linear infinite;
}


.seed {
  width: 2px;
  height: 2px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left:50%;
  animation: spin-right 10s linear infinite alternate;
}

@keyframes spin-right {
  20% {
    transform: rotate(120deg);
  }
  100% {
   transform: rotate(360deg);
  }
}*/




body {
  height: 1000px;
}


.seed {
  width: 1px;
  height: 4px;
  border: 1px solid red;
  background: red;
  position: absolute;
  top:50%;
  left:50%;
}

@keyframes spin-right {
  100% {
   transform: rotate(360deg);
  }
}

